// Colors
$primary:#4f2fa2;
$secondary:#ffb9cc;
$secondary-hvr:#ffa6be;
$secondary-2:#95cae4;
$secondary-hvr-2:#8ad8ff;
$secondary-3:#FFD9D2;


::-webkit-scrollbar{
    width: 5px;
    border-radius: 7px;
}
::-webkit-scrollbar-track{
    background: lightgray;
}
::-webkit-scrollbar-thumb{
    background: $primary;
    border-radius: 20px;
}
// Fonts Functions
@mixin montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@mixin montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
@mixin raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@mixin raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
@mixin roboto-regular {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@mixin roboto-medium {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
@mixin roboto-bold {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
// End Of Fonts Functions

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize !important;
}
body{
    scroll-behavior: smooth;
    background-color: snow;
}
@keyframes blop {
    0%{
        translate: -7% -10%;
        border-radius: 35% 65% 60% 40% / 47% 63% 37% 53%;
    }
    50%{
        border-radius: 56% 44% 51% 49% / 19% 63% 37% 81% ;
        translate: 0% -5%;
    }
    100%{
        border-radius: 57% 43% 72% 28% / 43% 43% 57% 57% ;
        translate: -7% -10%;
    }
}
@mixin blop ($width,$top,$right,$bottom,$left,$borderRadius){
    width: $width;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    border-radius: $borderRadius;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
}
.blop{
    @include blop(35%, -5%, none, none, -4%, none);
    background: $primary;
    animation: blop 5s cubic-bezier(.19,-0.01,.87,.99) infinite forwards alternate;
}
@media screen and (min-width : 320px) and (max-width : 576px) {
    #nav{
        img{
            width: 60% !important;
        }
    }
    #baby-names{
        svg{
            position: absolute;
            top: -46% !important;
        }
    }
    #aiModel{
        h3{
            font-size: 100%;
        }
        p{
            font-size: 80%;
        }
    }
    #articles::after{
        width: 40% !important;
    }
    #footer{
        .blop-15{
            width: 40% !important;
            top: -20% !important;
        }
    }
}
@media screen and (min-width:576px) and (max-width:767px) {
    #baby-names{
        svg{
            position: absolute;
            top: -42% !important ;
        }
    }
    #footer{
        .blop-15{
            width: 40% !important;
            top: -35% !important;
        }
    }
}
@media screen and (min-width:767px) {
    #baby-names{
        svg{
            position: absolute;
            top: -40% !important ;
        }
    }
}
@media screen and (max-width : 767px) {
    #nav{
        img{
            width: 30%;
        }
    }
}
.logo-img{
    width: 20%;
    height: 50px;
    object-fit: cover;
}
.nav-item .active{
    border-bottom: 1px solid $primary
}
ul[class="navbar-nav ms-auto mb-2 mb-lg-0"] {
    @include montserrat-semibold();
    hr{
        transform: rotate(90deg);
        width: 40px;
        height: 2px;
        background-color: $primary;
        margin: 20px 0;
    }
    button:nth-of-type(1) {
        background-color: $secondary;
    }
    button:nth-of-type(1):hover {
        background-color: $secondary-hvr;
    }
    button:nth-of-type(2) {
        background-color: $secondary-2;
    }
    button:nth-of-type(2):hover {
        background-color: $secondary-hvr-2;
    }
}
.nav-scroll{
    width: 100%;
    transition: 0.4s ease;
    position: fixed;
    top: 0;
}
#nav{
    transition: all 0.4s ease;
    backdrop-filter: blur(15px);
    z-index: 10;
    .profile-btn{
        border: 2px solid $primary;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        i{
            color: $primary;
        }
    }
}
.notification-dropdown {
    min-width: 320px;
    color: $primary;
    background: #fff;
    border: 2px solid $primary;
    border-radius: 12px;
    position: absolute;
    top: 120%;
    right: 0;
    box-shadow: 0 8px 24px rgba(0,0,0,0.12);
    font-size: 1rem;
    transition: max-height 0.3s cubic-bezier(.4,0,.2,1), opacity 0.3s;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
  }
  .notification-dropdown.show {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
  }
  .noti{
    width: 2.3em;
    height: 2.3em;
  }
  #notifCount{
      background-color: $primary !important;
      color: white !important;
  }
  #notificationBell{
    color: $primary;
    border-color:$primary !important
  }
.slider{
    #carouselExample{
        .carousel-item{
            .card{
                background: transparent;
                border: none;
                .card-body{
                    button{
                        background-color: $secondary;
                        border-radius: 20px;
                        @include roboto-bold();
                    }
                }
                .card-title{
                    @include raleway-bold();
                    color: $secondary-2;
                }
            }
        }
        .carousel-control-prev,.carousel-control-next{
            i{
                font-size: 25px;
            }
        }
        .carousel-control-prev{
            translate:  -35px;
        }
        .carousel-control-next{
            translate: 20px;
        }
    }
}
@keyframes blp {
    0%{
        border-radius: 15%,48% 52% 45% 55% / 53% 30% 70% 47% ;
    }
    25%{
        border-radius: 35% 65% 33% 67% / 46% 32% 68% 54% ;
    }
    50%{
        border-radius: 47% 53% 58% 42% / 38% 58% 42% 62% ;
    }
    75%{
        border-radius: 67% 33% 78% 22% / 30% 63% 37% 70% ;
    }
    100%{
        border-radius: 15%,48% 52% 45% 55% / 53% 30% 70% 47%;
    }
}
.blop-1{
    background: url(../../img/Free-Vector-Hand-drawn-flat-design-sonography-illustration-enhanced.jpeg);
    @include blop(auto, 0, 0, 0, 15%,48% 52% 45% 55% / 53% 30% 70% 47% );
    position: relative;
    animation: blp 4s linear infinite forwards alternate;
}
#pregnancy-weeks{
    h2{
        @include roboto-bold();
        color: #4f2fa2
    }
    swiper-container{
        swiper-slide{
            .card{
                @include raleway-regular();
                overflow: hidden;
                a{
                    text-decoration: none;
                    color: black
                }
                span{
                    @include raleway-bold();
                    font-size: 40px;
                }
                .row{
                    z-index: 5;
                }
                img{
                    width: auto;
                }
            }
            .card::before{
                content: '';
                position: absolute;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                background-color: $secondary-2;
                top: -25%;
                left: -10%;
            }
            .card::after{
                content: '';
                position: absolute;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                background-color: $secondary;
                bottom: -25%;
                right: -10%;
            }
        }
    }
}
@mixin stepping-rotate($rotate-angle , $scale){
    rotate: $rotate-angle;
    transform: $scale;
}
@mixin position($top,$right,$bottom,$left){
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
.blop-2{
    background: url(../img/Birth.gif);
    @include blop(27%, 5%, -5%, none,none , 49% 51% 35% 65% / 64% 39% 61% 36%);
    z-index: 1;
    transition:ease 0.5s;
}
.blop-2:hover{
    @include blop(26%, 5%, -4%, none,none , 56% 44% 39% 61% / 30% 51% 49% 70% );
}
.blop-3{
    background: url(../img/baby1.gif);
    @include blop(27%, 490px, 0, none,-2rem , 49% 51% 35% 65% / 64% 39% 61% 36%);
    z-index: -1;
    transition:ease 0.5s;
}
.abcBlop1{
    background-color: $secondary-2;
    @include blop(100px, none, none, none, none, 31% 69% 52% 48% / 43% 43% 57% 57% );
    transition: all 0.2s ease;
    filter: drop-shadow(2px 2px 10px gray);
}
.abcBlop1:hover{
    @include blop(100px, none, none, none, none, 69% 31% 60% 40% / 37% 60% 40% 63%  );
}
.abcBlop2{
    background-color:$secondary;
    @include blop(100px, none, none, none, none, 31% 69% 52% 48% / 43% 43% 57% 57% );
    transition: all 0.2s ease;
    filter: drop-shadow(2px 2px 10px gray);
}
.abcBlop2:hover{
    translate: 1px -5px;
    @include blop(100px, none, none, none, none, 27% 73% 24% 76% / 64% 32% 68% 36% );
}
#baby-names{
    overflow: hidden;
    svg{
        position: absolute;
        z-index: -1;
        // top: -30%;
    }
    .stations-container{
        height: 700px ;
    }
    h2{
        color: $primary;
        @include roboto-bold();
    }
    .station{
        width: auto;
        img{
            width: 110px;
            @include stepping-rotate(0deg , scaleX(-1));
            filter: drop-shadow(5px -5px 5px gray);
        }
    }
    .steps{
        .step{
            img{
                width: 50px;
                filter: drop-shadow(5px 5px 5px black);
            }
            position: absolute;
        }
        .step-1{
            @include stepping-rotate(110deg, none);
            @include position(20px, none, none, 15%)
        }
        .step-2{
            @include position(100px, none, none, 28%);
            @include stepping-rotate(130deg, none);
        }
        .step-3{
            @include position(180px, none, none, 55%);
            @include stepping-rotate(140deg, none);
        }
        .step-4{
            @include position(300px,none ,none ,70% );
            @include stepping-rotate(90deg , none);
        }
    }
    .station1{
        @include position(none, none ,none ,none);
    }
    .station2{
        @include position(150px, none,none , 40%);
    }
    .station3{
        @include stepping-rotate(0, none);
        @include position(300px, none , none ,none);
        align-self: end;
    }
    button{
        @include roboto-bold();
        background-color: $primary ;
        color: white;
        border-radius: 20px;
    }
}
#aiModel{
    .blop-13{
        background: $secondary-2;
        @include blop(40%, -15%, none, none, none , 60% 40% 53% 47% / 46% 59% 41% 54% );
        h2{
            @include raleway-regular()
        }
    }
    .blop-14{
        background: $primary;
        @include blop(27%, none, 3%,-15%, none ,50% );
        height: 350px;
        img{
            width: 100%;
            translate :0 -25%;
        }
    }
    h2{
        color: $primary;
        @include roboto-bold();
    }
    button{
        background-color: $primary;
        border-radius: 20px;
        // width: 5rem;
        @include roboto-bold();
    }
    .col-md-8 {
        .card{
            width: 45%;
            border-left: 5px solid $primary;
            img{
                width: 100% !important;
                object-fit: cover;
            }
        }
    }
    .col-4{
        height: 500px;
    }
}
#articles::before{
    content: '';
    position: absolute;
    background: $secondary-2;
    @include blop(40%, -5%, none, none, -5%, 53% 47% 70% 30% / 36% 63% 37% 64% );
    z-index: -1;
    animation: blop 4s linear forwards alternate infinite;
}
#articles::after{
    content: '';
    position: absolute;
    background: $secondary;
    @include blop(25%, none, -5%, -15%, none, 53% 47% 70% 30% / 36% 63% 37% 64% );
    z-index: -1;
    animation: blop 4s linear forwards alternate infinite;
}
#articles{
    @include raleway-regular();
    .left , .right{
        width: 40%;
        height: auto;
        overflow: hidden;
        filter: drop-shadow(0px 5px 10px gray);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 2/3;
        }
    }
    .left{
        translate: 0 -5%;
    }
    .right{
        translate: 0 5%;
    }
    h2{
        color: $primary;
        @include roboto-bold()
    }
    h3{
        @include roboto-medium();
        color: $primary;
    }
    .card{
        border-color: $primary !important;
    }
    button{
        background-color: $primary;
        border-radius: 20px;
        @include roboto-bold();
    }
}
@keyframes ftrblp {
    0%{
        border-radius: 67% 33% 46% 54% / 46% 50% 50% 54% ;
        rotate: 0deg;
    }
    50%{
        border-radius: 46% 54% 63% 37% / 35% 50% 50% 65% ;
        rotate: 180deg ;
    }
    100%{
        border-radius: 30% 70% 32% 68% / 49% 40% 60% 51%  ;
        rotate: 360deg
    }
}
#footer{
    max-height: 70vh;
    background-color: $primary;
    @include raleway-bold();
    .blop-15{
        @include blop(23%, -55%, 50%, none, none, 67% 33% 46% 54% / 46% 50% 50% 54% );
        background: white;
        position: absolute;
        translate: 50% 0;
        animation: ftrblp 4s cubic-bezier(.4,0,.66,.99) infinite forwards alternate;
    }
    .blop-16{
        background: url("../img/iOs\ Application-Icon-unscreen.gif");
        @include blop(12em, none, none, none, none, 43% 57% 39% 61% / 64% 53% 47% 36% );
        z-index: 1;
    }
    .blop-17{
        background: url("../img/Logo/Mob-Logo-removebg-preview.png");
        @include blop(11rem, none, none, none, none, 43% 57% 39% 61% / 64% 53% 47% 36% );
        z-index: 1;
        aspect-ratio: 16/9 !important
    }
    img{
        width: 100%;
        // height: auto;
        object-fit: cover;
    }
    h2{
        @include roboto-bold();
    }
    h3{
        @include raleway-bold();
    }
    .row:first-child{
        translate: 0 -50%;
    }
    ::placeholder{
        color: $primary;
    }
}

@media (max-width: 576px) {
  .notification-dropdown {
    min-width: 220px;
    font-size: 0.95rem;
    right: -40px;
  }
  
}
@media screen and (max-width:991px) {
    #slider{
        h1{
            font-size: 1.3rem;
        }
    }
    .blop-1{
        width: 80% !important;
        margin: auto;
        left: 0% !important;
    }
    swiper-slide{
        height: 200px !important;
        .card{
            height: 100%;
            .card-body{
                padding: 0;
                a{
                    width: 100%;
                    font-size: 1rem;
                }
            }
        }
    }
    .nav-item .active{
        border: none;
        background-color: white;
        color: $primary;
        border-radius: 20px;
    }
    #baby-names{
        .blp{
            width: 12.5rem;
        }
    }
    #aiModel{
        .col-4{
            position: relative;
            .blop-13 , .blop-14{
                width: 300px;
                height: 300px;
            }
            .blop-13{
                @include blop(300px, -5%, -20%, none, none , 60% 40% 53% 47% / 46% 59% 41% 54% );
            }
            .blop-14{
                @include blop(250px, none, -10%,-15%, none ,50% );
                height: 250px;
            }
        }
        
    }
}
@media screen and (min-width:991px) and (max-width:1200px){
    #baby-names{
        svg{
            top: -40% !important;
        }
    }
}
@media screen and (max-width:768px){
    #aiModel{
        .col-8{
            flex-direction: row !important;
            flex-wrap: wrap !important;
        }
    }
    .blop{
        width: 45%;
    }
}
@media screen and (max-width:576px){
    .blop-1{
        width: 90%;
    }
}
